@font-face {
    font-family: 'Dancing Script';
    src: url('../fonts/DancingScript-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Spectral';
    src: url('../fonts/Spectral-Regular.ttf') format('truetype');
}
h1 {
    font-family: 'Dancing Script', cursive;
    font-size: xx-large;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
}
body {
    background-color: rgb(176, 208, 245);
    padding: 20px;
}

.logo{
    text-align:center;
}
.headerbutton {
    background-color: white;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Dancing Script';
    font-size: 16px;
}

a:link{
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Dancing Script';
    font-size: x-large;
    font-weight: bold;
}


footer{
    background-color: rgba(129, 122, 122, 0.466);
}

#footer-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footerbutton{
    margin-right: 20px;
    border: none;
    background: none;
}
.footerbutton a img {
    display: block;
}
p{
    font-family: 'Spectral', sans-serif;
    font-size: 20px;
}
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button a:hover {
    background-color: rgb(255, 255, 255);
}
.button-text {
    color: black;
}

.button a {
    color: black; 
}

.carouselContainer {
    width: 60%;
    height: 60%;
    margin: 0 auto;
    position: relative;
    background-color: #fff;
    border-radius: 1.5rem;
    overflow: hidden;
    margin-bottom: 20px;
}
.carouselImgs {
    width: 100%;
    height: 100%;
    animation: fade 1.5s;
    display: none;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
}
.prev, .next {
    position: absolute;
    top: 49%;
    cursor: pointer
}
.prev { left: 10px; }
.next { right: 10px; }
.slide1 { background-color: #d8e2dc; }
.slide2 { background-color: #577399; }
.slide3 { background-color: #bdd5ea; }
.slide4 { background-color: #f7f7ff; }
@keyframes fade {
    from { opacity: 0.4; }
    to { opacity: 1; }
}
.carouselContainer h1 {
    font-size: 24px;
    font-family: 'Spectral';
}

#contact-container {
    display: flex;
    grid-template-columns: repeat(2, auto); 
    column-gap: 20px; 
    align-items: center;
    text-align: left;  
    background-color: rgba(255, 255, 255, 0.8);
}

.contact-button {
    display: flex;
    align-items: center;
}