@font-face {
    font-family: 'Dancing Script';
    src: url('../fonts/DancingScript-Regular.ttf');
}
@font-face {
    font-family: 'Spectral';
    src: url('../fonts/Spectral-Regular.ttf') format('truetype');
}
h1 {
    font-family: 'Dancing Script', cursive;
    font-size: medium;
    color: rgb(99, 27, 27)

}
body {
    background-color: rgb(176, 208, 245);
    padding: 20px;
}

.logo{
    text-align:center;
}
.logo img {
    width: 250px;
    max-width: 100%;
  }
.headerbutton {
    background-color: white;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Dancing Script';
    font-size: 16px;
}

.timebutton {
    border: none;
    text-align: center;
    text-decoration: none;
    display: flexbox;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Dancing Script';
    font-size: 16px;
}

a:link{
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Dancing Script';
    font-size: x-large;
    font-weight: bold;
}
footer{
    background-color: rgba(129, 122, 122, 0.466);
}

#footer-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footerbutton{
    margin-right: 20px;
    border: none;
    background: none;
}
.footerbutton a img {
    display: block;
}
p{
    font-family: 'Spectral', sans-serif;
    font-size: 20px;
}
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.button a:hover {
    background-color: rgb(255, 255, 255);
}
.button-text {
    color: black;
}

.button a {
    color: rgb(0, 0, 0); 
}p{
    font-family: 'Spectral', sans-serif;
    font-size: 20px;
    font-weight: 200;
}
#main-text {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
}
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h2 {
    font-family: 'Dancing Script';
    text-align: center;
    font-size: xx-large;
}
#round-img {
    float: left;
}
#round-img img {
    border-radius: 50%;
}
#text-border {
    overflow: hidden;
    margin-left: 10px;
}
#text {
    margin-left: 20px;
}
